html {
    background: black;
}

.country-list {
    height: 100%;
    overflow: auto;
}

.clock {
    position: absolute;
    bottom: 0;
    left: 0;
    color: darkgreen;
    z-index: 10;
    background: none;
}