html,
body {
    background: black;
    cursor: grab;
    padding: 0;
    margin: 0;
}

canvas {
    cursor: -webkit-grab !important;
}

canvas:active {
    cursor: -webkit-grabbing !important;
}

.detailed-view {
    height: 0
}

.detailed-view.is-open {
    height: 100%;
}

.total-rev {
    float: right;
    color: lightgreen;
    padding-left: 20px;
}

h3 {
    padding: 0;
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
}

.detailed-view {
    opacity: 0;
    position: absolute;
    z-index: 10;
    color: white;
    transition: all .5s;
    left: 0;
    padding: 1rem;
    margin: 0;
    background: black;
    top: 0;
    overflow: auto;
}

.detailed-view ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, .5);
}

.detailed-view ul ul:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
}


.detailed-view.fadeInUp {
    opacity: 1;
}
