html, body {
    padding: 0;
    margin: 0;
}

main.world {
    background: #000000;
    cursor: grab;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 3rem;
    font-weight: 100;
    padding: 2rem 0;
    margin: 0;
}

canvas {
    cursor: -webkit-grab !important;
}

.detailed-view img {
    width: 50px;
}

canvas:active {
    cursor: -webkit-grabbing !important;
}

.detailed-view.is-open {
    background: #262b33;
}

h3 {
    padding: 0;
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
}

.detailed-view {
    position: absolute;
    z-index: 10;
    color: white;
    left: 0;
    padding: 1rem 3rem;
    margin: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}

.detailed-view ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.agent {
    padding: 1rem 0;
}